{
  "presets": [
    ["@babel/env",{
      "modules": false,
      "targets": {
        "browsers": [
          "> 1%",
          "Firefox >= 52", // last ESR
          "IE 11"
        ]
      }
    }],
    "@babel/preset-react",
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel",
  ]
}
