$accent-1: #f4f4f4;
$accent-2: #697287;
$accent-3: #27191C;
$accent-4: #454C66;

$tc: $accent-3;
$bgc: $accent-1;

//

$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Open Sans', serif;

//

$font-size-xlarge: 60px;
$font-size-large: 40px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-xsmall: 12px;
