@import "~styles/variables";

.WatercolorCanvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__canvas {
      height: 100%;
      width: 100%;
      filter: blur(20px) contrast(2);
      -webkit-filter: blur(20px) contrast(2);
  }

  &__colors {
      position: absolute;
      top: 7vh;
      right: 7vw;
      width: 300px;
      max-width: 30vw;

      &__block {
          display: flex;
          height: 14px;
          width: 100%;
          margin-top: 10px;
          border: 1px solid transparent;
          cursor: pointer;
          transition: transform 0.1s ease-out;
          pointer-events: all;

          &--selected {
              border-color: $accent-1;
              transform: scale3d(1.04, 1, 1);
          }

          &:hover {
              transform: scale3d(1.03, 1, 1);
          }

          &__color {
              flex: 1;
          }
      }
  }
}
