/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#logo, .logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
}

#logo img {
  width: 120px;
  height: auto;
}

#logo a {
  height: 120px;
}

#contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#contact img {
  width: 120px;
  height: auto;
}
