// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	width: 100%;
	height: 100%
}

#cvimg {
	height: 100%;
	margin: auto;
	float: left;
	margin-left: 200px !important;cs
}