// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */

$background: #FCFEFB;
$main: #607848;
$secondary: #604848;

/* Mixins */

@mixin rounded-corners {
  $rounded-corner-radius: 4px;
  -webkit-border-radius: $rounded-corner-radius;
  -moz-border-radius: $rounded-corner-radius;
  -ms-border-radius: $rounded-corner-radius;
  border-radius: $rounded-corner-radius;
}

body {
  background-color: $background;
  color: $secondary;
}

h1 {
	color: $main;
}

#daily img {
  width: 60%;
  height: auto;
}

#sitehelp {
  font-size: .6em;
  color: #E1D3CA;
}
