@import "~styles/variables";

.News {
  padding: 3em 2em;

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    position: relative;
    width: 10em;

    &:before {
      content: "";
      position: absolute;
      top: -0.2em;
      height: 1.3em;
      left: 50%;
      border-left: 1px solid rgba($tc, 0.2);
      z-index: 10;
    }

    &__values {
      position: absolute;
      top: -2.5em;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      font-size: 0.6em;
    }

    .rc-slider-handle {
      border-color: $accent-4;
    }
    .rc-slider-track {
      background-color: $accent-4;
    }
  }

  &__toggle {
    margin-left: 1.3em;
    margin-bottom: 1em;
    font-size: 0.6em;
  }

  &__articles {
    // margin-top: 2em;
  }

  &__article {
    position: relative;
    display: block;
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 1em 1em 1.2em;
    transition: all 0.3s ease-out;

    &:hover {
      background: #fff;

      .News__article__sentiment {
        opacity: 0.3;
      }
    }

    &:visited {
      .News__article__title {
        color: $accent-2;
      }
    }

    .News__article__title,
    .News__article__snippet,
    .News__article__site,
    .News__article__date {
      transition: opacity 0.3s ease-out;
    }

    &--is-not-new {
      margin-top: 4em;

      .News__article__title,
      .News__article__snippet,
      .News__article__site,
      .News__article__date {
        opacity: 0.3;
      }

      &:hover {
        .News__article__title,
        .News__article__snippet,
        .News__article__site,
        .News__article__date {
          opacity: 1;
        }
      }

      &:before {
        content: "Already seen";
        position: absolute;
        top: -1.7rem;
        color: $accent-2;
        font-size: 0.6em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.1em;
      }

      &:after {
        content: "";
        position: absolute;
        top: -1.15rem;
        left: 5.9rem;
        right: 0;
        border-bottom: 1px solid rgba($accent-2, 0.3);
      }

      & + & {
        margin-top: 0;

        &:before,
        &:after {
          display: none;
        }
      }
    }

    &__title {
      padding-bottom: 0.4em;
      color: $accent-4;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &__label {
        flex: 1;
        // font-family: $font-family-serif;;
        // font-size: 1.2em;
        font-weight: 800;
      }
    }

    &__date {
      flex: 0 0 4em;
      width: 4em;
      line-height: 1.3em;
      color: $tc;
      text-align: right;
      font-size: 0.8em;
      opacity: 0.4;
      white-space: nowrap;
    }

    &__site {
      font-size: 0.8em;
      font-weight: 800;
      opacity: 0.5;
      // padding: 0 0 0.4em 0;
    }

    &__sentiment,
    &__snippet {
      font-size: 0.77em;
      line-height: 1.3em;
      color: $tc;
      opacity: 0.5;
    }

    &__sentiment {
      margin-top: 0.6em;
      margin-bottom: -0.6em;
      font-size: 0.73em;
      opacity: 0;
    }
  }

  @media (max-width: 500px) {
    padding: 1em 0.4em;

    &__controls {
      flex-direction: column;
    }

    &__slider {
      margin: auto;
      margin-top: 2em;
      width: 90%;
    }

    &__article {
      &__title {
        // flex-direction: column;
        flex-wrap: wrap;

        &__label {
          min-width: 100%;
          order: 3;
        }
      }

      &__site {
        flex: 1;
        margin-top: 0.3rem;
        width: 50%;
        opacity: 0.5;
        order: 1;
      }

      &__date {
        flex: 1;
        margin-top: 0.3rem;
        width: 50%;
        text-align: right;
        opacity: 0.3;
        order: 2;
      }
    }
  }
}
