@import "~styles/variables";

.Election {
  // display: flex;
  // flex-wrap: wrap;
  margin: auto;
  text-align: center;

  &__modulators {
    display: flex;
    width: 800px;
    max-width: 98%;
    margin: 10px auto;
    text-align: left;

    &__select {
      flex: 1;

      &:not(first-of-type) {
        margin-left: 10px;
      }
    }
  }
}
